body {
  font-family: Arial, sans-serif; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  background-color: darkblue;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 700px;
  margin: auto;
  background: grey;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}

h1, h2 {
  text-align: center;
}

button {
  padding: 10px 20px;
  margin-top: 20px; 
  background: darkred; 
  color: white;
  cursor: pointer; 
  border: none; 
  border-radius: 10px;
}

input {
  padding: 10px;
  width: 200px;
  margin-right: 10px;
}

#donationsList {
  list-style: none;
  padding: 0;
}